FLASK_ENV=development
FLASK_DEBUG=1
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
MONGO_URI=mongodb://localhost:27017/propale
LIBRARY_DIR=../Propale_library
CACHE_DIR=../Propale_cache
LIBREOFFICE_PATH=C:\Program Files\LibreOffice\program\soffice.exe
LIBREOFFICE_PATH=/usr/bin/soffice